*, *::before, *::after {
    box-sizing:border-box;
}

.head {
    font-size:35px;
    padding:0;
}

.nav {
    position:relative;
}

#search {
    background-color:#F8F9FA;
    float:left;
    width:25%;
    height: 100%;
    position:absolute;
    padding:25px;
}

#formInput {
    padding-right:10px;
}

#dash {
    float:right;
    background-color:#ffff;
    position:absolute;
    right:0;
    height:100%;
    width:75%;
    clear:left;
    padding:20px;
}

#cityName {
    margin-bottom:30px;
}

#currentUV {
    color:#ffff;
    border-radius:15px;
}

.low {
    background-color:#279500;
    
}

.moderate {
    background-color:#F8E500;
}

.high {
    background-color:#F85A02;
}

.veryhigh {
    background-color:#D70313;
}

.extreme {
    background-color:#6B49C8;
}

#fiveDay {
    margin:20px;

}

.card {
    background-color:#007BFE;
    color:#ffff;
}